<div id='content' class='row-fluid row m-0' style="display: flex" (click)="voiceSearch()">
  <div class='col-lg-10 main text-center mt-4'>
    <ul class="nav nav-pills nav-stacked text-left list-group" style="font-size: 20px">
      <ng-container *ngFor="let label of labels">
        <li *ngIf="label.messageListVisibility !== 'hide'" style="margin-bottom: 12px"><a href="#"
                                                                                          [ngClass]="{'text-secondary': label.name !== 'UNREAD'}">{{label.name}}</a>
        </li>
      </ng-container>
    </ul>
    <form #vSearch id="vSearch">
      <div id="voicesearch">
        <input #searchKey name="q" id="searchKey" type="hidden">
        <div id="icon-mic"></div>
        <span class="text-muted">{{response}}</span>
      </div>
    </form>
  </div>

  <div class="col-12" style="max-height: 350px;overflow-y: scroll;">
    <table class="table table-striped ">
      <tbody>
      <tr *ngFor="let mail of mails">
        <th scope="row">{{mail.id}}</th>
        <td>{{mail.snippet}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class='col-lg-2 sidebar' style="text-align: -webkit-right;position:absolute;right: 0">
    <h3 *ngIf="user && user.username">{{user.username}}</h3>
    <a class="btn btn-link btn-small" role="button" (click)="logout()">Log Out</a>
  </div>
</div>
